<div class="container pt-4 pb-3 <%= cycle "bg-light", "bg-white" %>" id="about">
  <div class="row pt-3" id="about-row">
    <div class="col">
      <h2 class="text-center">About Me</h2>
      <hr class="pb-1" />
      <%= markdown @person.career_blurb %>
    </div>
  </div>
</div>
