<div class="container <%= cycle "bg-light", "bg-white" %>" id="about">
  <div class="row pt-3" id="about-row">
    <div class="col">
      <h2 class="text-center pb-2">About Me</h2>
      <%= markdown @person.career_blurb %>
    </div>
  </div>
</div>
