<div class="<%= cycle "bg-light", "bg-white" %>">
  <div class="container pt-4 pb-3" id="about">
    <div class="row pt-3" id="about-row">
      <div class="col-12">
        <h2 class="text-center">About Me</h2>
        <hr class="pb-1" />
      </div>
      <%= markdown @person.career_blurb %>
    </div>
  </div>
</div>

<div class="<%= cycle "bg-light", "bg-white" %>">
  <div class="container pt-3 pb-3" id="about-skills">
    <div class="row py-3 justify-content-center">
      <div class="col-12">
        <h4 class="text-center">My Skillset</h4>
      </div>
      <% @person.skills.each do |skill| %>
        <%= render "items/skill", skill: skill %>
      <% end %>
    </div>
  </div>
</div>
