<div class="<%= cycle "bg-light", "bg-white" %>">
  <div class="container py-3" id="career">
    <div class="row pt-3">
      <div class="col">
        <h2 class="text-center">My Career</h2>
        <hr class="pb-1" />
        <%= markdown @person.work_blurb %>
      </div>
    </div>
  </div>
</div>

<div class="<%= cycle "bg-light", "bg-white" %>">
  <div class="container pt-4 pb-3" id="career-sites">
      <div class="col-12">
        <h4 class="text-center">Gallery</h4>
      </div>
    <%= render "items/sites", sites: @person.sites %>
  </div>
</div>
