<div class="row" id="education">
  <div class="col-12 d-md-none">
    <h3 class="text-center">Education</h3>
    <%= markdown @person.education_blurb %>
  </div>
  <% @person.schools.each do |school| %>
    <%= render "items/school", school: school %>
  <% end %>
  <hr class="w-100 mx-3" />
  <% @person.jobs.each do |job| %>
    <%= render "items/school", school: job %>
  <% end %>
</div>
