<div class="row" id="projects">
  <div class="col-12 d-md-none mt-4">
    <h3 class="text-center">Fun Stuff</h3>
    <hr class="divider" />
    <%= markdown @person.projects_blurb %>
  </div>
  <% @person.projects.each do |project| %>
    <%= render "items/project", project: project %>
  <% end %>
</div>
