<div class="container pt-4 pb-3 <%= cycle "bg-light", "bg-white" %>" id="skills">
  <div class="row pt-3">
    <div class="w-100 text-center px-3">
      <h2>My Skillset</h2>
      <hr class="pb-1" />
      <p>I have years of experience with the following languages and technologies.</p>
    </div>
    <% @person.items.skills.each do |skill| %>
      <%= render "items/skill", skill: skill %>
    <% end %>
  </div>
</div>
