<div class="col-12">
  <div class="media">
    <%= link_to image_2x_or_svg(school.icon, school.svg, class: "mr-3"), school.link %>
    <div class="media-body">
      <h5><%= link_to school.name, school.link %></h5>
      <p><%= school.blurb %></p>
      <p><%= link_to school.description, school.link, class: "btn btn-sm btn-outline-light" %></p>
    </div>
  </div>
</div>
