<div class="col-12 pt-3">
  <div class="media">
    <%= link_to svg_tag(school.svg, class: "mr-3"), school.link %>
    <div class="media-body">
      <h5><%= link_to school.name, school.link %></h5>
      <p><%= school.blurb %></p>
    </div>
  </div>
</div>
