<div class="col-12 col-md-6 col-lg-4 col-xl-3 pt-3">
  <div class="media">
    <%= link_to image_2x(skill.icon, class: "mr-3"), skill.link %>
    <div class="media-body">
      <h5><%= link_to skill.name, skill.link %></h5>
      <%= skill.description %>
    </div>
  </div>
</div>
