// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cover {
  height: 100vh;
  background-size: cover;
  img#profile-pic {
    max-width: 200px;
    border: 0.25rem solid $light;
  }
}