// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10vh;
  background-size: cover;
  background-image: url(image-path("mt-hood.jpg"));
}

#cover {
  #cover-row {
    min-height: 100vh;
  }
  img#profile-pic {
    width: 60%;
    height: 60%;
    max-width: 200px;
    max-height: 200px;
    border: 0.25rem solid $light;
  }
}
