// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cover {
  background-position: center;
  background-size: cover;
  #cover-row {
    min-height: 100vh;
  }
  @media (min-height: 1366px) {
    #cover-row {
      min-height: unset;
      height: 1366px;
    }
  }
  @media (min-width: 3440px) {
    background-size: 3440px auto;
  }
  @media (pointer: fine) and (hover: hover) {
    background-attachment: fixed;
  }

  #profile-pic-container.fixed-ratio-container {
    width: 60%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    .fixed-ratio {
      padding-bottom: calc(100%/(200/200));
      img.fixed-ratio-content {
        border: 0.25rem solid $light;
      }
    }
  }

  p.icons {
    a {
      margin-right: 0.33rem;
      &:last-of-type { margin-right: 0rem; }
      font-size: 2rem;
    }
  }
}

#about-skills {
  .media {
    img {
      width: 64px;
      height: 64px;
    }
  }
}

#career-sites {
  .card-header {
    img {
      height: 32px;
      width: 32px;
      float: left;
    }
    a {
      line-height: 32px;
    }
  }
  .card-body {
    .wide {
      margin-left: -1.25rem;
      margin-right: -1.25rem;
      margin-top: -1.25rem;
    }
    a.fixed-ratio {
      padding-bottom: calc(100%/(600/341));
    }
  }
}

// TODO
#projects, #education {
  .media {
    svg.icon {
      font-size: 64px;
    }
    a {
      color: $light;
      &.btn:hover { color: $dark; }
    }
  }
}
